@model bloggie.web.Models.ViewModels.AddBlogPostRequest

@{
    ViewData["Title"] = "Add a Blog Post";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" asp-controller="AdminBlogPosts" method="post">
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Heading"></label>
        <input asp-for="Heading" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="PageTitle"></label>
        <input asp-for="PageTitle" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="ShortDescription">Short Description</label>
        <input asp-for="ShortDescription" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Featured Image Upload</label>
        <input type="file" id="featureImageUpload" class="form-control"/>
    </div>
    <div class="form-group mb-3">
        <img src="" id="featuredImageDisplay" style="display: none; width: 300px" alt=""/>
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="FeaturedImageUrl">Featured Image Url</label>
        <input asp-for="FeaturedImageUrl" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="UrlHandle">Url Handle</label>
        <input asp-for="UrlHandle" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="PublishedDate">Published Date</label>
        <input asp-for="PublishedDate" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control"/>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
        <label class="form-check-label">
            Visible
        </label>
    </div>
    <div class="mb-3">
        <label class="form-label">Tags</label>
        <select class="form-select" asp-items="Model.Tags" asp-for="SelectedTags">
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </div>
    
</form>

@section Scripts
{
    <script>
        var editor = new FroalaEditor('#Content');
        const featureImageUpload = document.getElementById('featureImageUpload');
        const featuredImageUrl = document.getElementById('FeaturedImageUrl');
        const featuredImageDisplay = document.getElementById('featuredImageDisplay');
        
        featureImageUpload.addEventListener('change', async function(e) {
            const file = e.target.files[0];
            const formData = new FormData();
            formData.append('file', file);
            const response = await fetch('/api/Images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*'
                },
                body: formData
            });
            const data = await response.json();
            featuredImageUrl.value = data.url;
            featuredImageDisplay.src = data.url;
            featuredImageDisplay.style.display = 'block';
        });
    </script>
}
